* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

header h1 {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  width: 300px;
  margin-bottom: 50px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.button-box {
  border: 2px solid black;
  padding: 50px;
  text-align: center;
  width: 200px;
  height: 100px;
}

.button {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

footer {
  position: absolute;
  bottom: 10px;
}
.exercise-list {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  width: 300px;
}

.exercise-list li {
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
/* Appliquer un style uniforme aux liens des listes */
.exercise-list a {
    color: black;  /* Met le texte des liens en noir */
    text-decoration: none;  /* Supprime le soulignement des liens */
}

.exercise-list a:hover {
    text-decoration: underline;  /* Ajoute un soulignement au passage de la souris */
}
.exercise-image {
    max-width: 80%; /* L'image ne dépassera jamais 100% de la largeur de son conteneur */
    height: auto; /* La hauteur s'ajustera proportionnellement */
    width: 500px; /* Fixe une largeur maximale de 500 pixels (tu peux ajuster cette valeur) */
    display: block; /* Pour enlever tout espace autour de l'image */
    margin: 20px auto; /* Centrer l'image et ajouter de l'espace autour */
}
